#clang-format v19.1.0, https://releases.llvm.org/19.1.0/tools/clang/docs/ClangFormatStyleOptions.html

AccessModifierOffset: 4
AlignAfterOpenBracket: 'DontAlign'
AlignArrayOfStructures: 'Left'
AlignConsecutiveAssignments: 'None'
AlignConsecutiveBitFields: 'Consecutive'
AlignConsecutiveDeclarations: 'None'
AlignConsecutiveMacros: 'Consecutive'
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignConsecutiveTableGenBreakingDAGArgColons: 'None'
AlignConsecutiveTableGenCondOperatorColons: 'None'
AlignConsecutiveTableGenDefinitionColons: 'None'
AlignEscapedNewlines: 'Left'
AlignOperands: 'AlignAfterOperator'
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: 'Never'
AllowShortBlocksOnASingleLine: 'Empty'
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: 'None'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
AttributeMacros: []
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: 'Both'
#BracedInitializerIndentWidth:
BreakAdjacentStringLiterals: true
#BraceWrapping:
BreakAfterAttributes: 'Leave'
BreakAfterJavaFieldAnnotations: true
BreakAfterReturnType: 'Automatic'
BreakArrays: true
BreakBeforeBinaryOperators: 'All'
BreakBeforeBraces: 'Attach'
BreakBeforeConceptDeclarations: 'Always'
BreakBeforeInlineASMColon: 'Always'
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: 'AfterColon'
BreakFunctionDefinitionParameters: false
BreakInheritanceList: 'AfterComma'
BreakStringLiterals: true
BreakTemplateDeclarations: 'Yes'
ColumnLimit: 80
CommentPragmas: ''
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
EmptyLineAfterAccessModifier: 'Never'
EmptyLineBeforeAccessModifier: 'Always'
#ExperimentalAutoDetectBinPacking:
FixNamespaceComments: true
ForEachMacros: []
IfMacros: []
IncludeBlocks: 'Regroup'
IncludeCategories:
  - Regex: '\"[^\/]*\.h\"'
    Priority: 1
  - Regex: '<[^>]*>'
    Priority: 3
  - Regex: '.*'
    Priority: 2
IncludeIsMainRegex: ''
IncludeIsMainSourceRegex: ''
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: 'NoIndent'
IndentGotoLabels: true
IndentPPDirectives: 'BeforeHash'
IndentRequiresClause: true
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertBraces: false
InsertNewlineAtEOF: true
InsertTrailingCommas: 'None'
IntegerLiteralSeparator:
  Binary: 4
  Decimal: -1
  Hex: 4
JavaImportGroups: []
JavaScriptQuotes: 'Double'
JavaScriptWrapImports: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
LambdaBodyIndentation: 'Signature'
#Language:
LineEnding: 'DeriveLF'
MacroBlockBegin: ''
MacroBlockEnd: ''
Macros:
MainIncludeChar: 'Quote'
MaxEmptyLinesToKeep: 2
NamespaceIndentation: 'None'
NamespaceMacros: []
ObjCBinPackProtocolList: 'Auto'
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: false
ObjCPropertyAttributeOrder: []
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
PPIndentWidth: 4
PackConstructorInitializers: 'Never'
PenaltyBreakAssignment: 0
PenaltyBreakBeforeFirstCallParameter: 10
PenaltyBreakComment: 50
PenaltyBreakFirstLessLess: 100
PenaltyBreakOpenParenthesis: 10
PenaltyBreakScopeResolution: 50
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 100
PenaltyIndentedWhitespace: 10
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: 'Right'
QualifierAlignment: 'Leave'
#QualifierOrder:
RawStringFormats: []
ReferenceAlignment: 'Right'
ReflowComments: true
RemoveBracesLLVM: false
RemoveParentheses: 'Leave'
RemoveSemicolon: false
RequiresClausePosition: 'OwnLine'
RequiresExpressionIndentation: 'OuterScope'
SeparateDefinitionBlocks: 'Always'
ShortNamespaceLines: 1
SkipMacroDefinitionBody: false
SortIncludes: 'CaseInsensitive'
SortJavaStaticImport: 'After'
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpaceBeforeParens: 'ControlStatements'
#SpaceBeforeParensOptions:
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesInParens: 'Never'
#SpacesInParensOptions
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInLineCommentPrefix:
  Maximum: 1
  Minimum: 1
SpacesInSquareBrackets: false
Standard: 'Latest'
StatementAttributeLikeMacros: []
StatementMacros: []
TabWidth: 4
TableGenBreakInsideDAGArg: 'BreakAll'
TableGenBreakingDAGArgOperators: []
TypeNames: []
TypenameMacros: []
UseTab: 'AlignWithSpaces'
VerilogBreakBetweenInstancePorts: true
WhitespaceSensitiveMacros: []
